* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #8B0000;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  nav {
    background-color: #006400;
    padding: 0.5rem;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .pizza-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pizza-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .pizza-card h3 {
    margin: 0.5rem 0;
  }
  
  .bebidas {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bebidas img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .bebidas h2 {
    margin: 0.5rem 0;
  }
  button {
    background-color: #8B0000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #A52A2A;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  footer .social a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  
  footer .social a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    .pizza-card {
      width: 100%;
    }
  }